@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-inter: "Inter Tight", sans-serif;
  --font-roboto: "Roboto", sans-serif;

}

@theme {
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);

  --color-custom-white: #E9E9E9;
  --color-custom-black: #222;
  --color-custom-light-gray: #d9d9d9;
  --color-custom-dark-gray: #919190;
}

body {
  background-color: #E9E9E9;
  font-size: 14px;
  font-family: var(--font-inter);
}

button {
  cursor: pointer;
}